<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Log" version="1.0.0.0" targetFramework="net46" />
  <package id="Common.Log.log4net" version="1.0.0.0" targetFramework="net46" />
  <package id="log4net" version="2.0.5" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="slf4net" version="0.1.14.1" targetFramework="net46" />
  <package id="slf4net.log4net" version="0.1.32.1" targetFramework="net46" />
</packages>